/.idea
/bak
/cache/*
/images
/img
/imgCache
/includes/configure.php
/includes/modules/phone/APP
/includes/modules/phone/bak
/includes/modules/phone/bak.*
/ru
/hook/*
*.bak
*.bak.*
*.BAK.*
*.php.*.fly
*.docx
*.mp4
*.txt
*.pdf
